

#headbg{
    background-color: #EDFAF5;
}

.card{
    border:none;
}
.card-body img{
    width:100%;
}

.wrt img{
    width:80px;
    height: 80px;
    border-radius: 50%;
}

.cod{
    color: teal;
    float: left;
}
